{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true, // Enables browser global variables like window and document
    "node": true, // Enables Node.js global variables and Node.js scoping
    "es6": true, // Enables ES6 global variables like Set, Map, etc.
    "commonjs": true, // CommonJS global variables and CommonJS scoping (useful for require)
    "jquery": false, // Set to true if you're using jQuery
    "jest": true // Enables Jest global variables for testing
  },
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ],
      "presets": [
        "@babel/preset-react"
      ]
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "no-param-reassign": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "max-classes-per-file": "off",
    "import/no-extraneous-dependencies": "off",
    "no-restricted-syntax": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/static-property-placement": "off",
    "react/sort-comp": "off",
    "react/no-deprecated": "off",
    "prettier/prettier": "error",
    "import/no-unresolved": "off",
    "react/display-name": "off",
    "no-console": "off"
  },
  "globals": {
    "__DEBUG_CONNECTION__": true,
    "__DEV__": true,
    "chrome": "readonly",
    "window": false,
    "document": false,
    "self": false,
    "describe": false,
    "beforeEach": false,
    "before": false,
    "after": false,
    "it": false,
    "expect": false
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}